<li>
   <%= user.name %>
   <span class="profile-link">
   <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
   <%= link_to 'Send Request',  friendships_path(:request_id=>user), :method => :post %>
  </span>
</li>

