<section class="users-section">
  <b>Name:</b> <%= current_user.name %>
  <p>Other users</p>
  <ul class="users-list">
    <%= render @users_list %>
  </ul>
  <h2>Pending Friends</h2>
  <ul>
  <% @friend_sent.each do |req| %>
    <li>
    <%= req.request.name %>
    </li>
  <% end %>
  </ul>
 
